/*Général*/

@font-face {
    font-family: "Intuitive";
    src: url("police/intuitive.ttf");
}

body {
    margin: 0;
    font-family: 'Tahoma', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #ff8000;
}

h1 {
    font-family: "Intuitive";
    text-align: center;
    color: #41a62b;
}

button {
    font-size: 110%;
}


/*Header*/

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

#header-ep {
    padding-top: 1%;
    font-family: "Intuitive";
}

#header-social {
    width: 8%;
    display: flex;
    justify-content: space-between;
}

/*Navbar*/

#navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Intuitive";
    padding: 0 1% 0 1%;
}

.navbar-link {
    font-size: 150%;
}

#navbar-link {
    font-size: 150%;
    padding-top: 5%;
}

li {
    font-size: 60%;
}



/*Footer*/

/*Instagram*/

hr {
    margin: 6% 0 0 25%;
    width: 50%;
    color: #41a62b;
}

#instagram {
    margin-top: 3%;
}

#instagram-img {
    width: 76%;
    margin-left: 12%;
    display: flex;
    justify-content: space-evenly;
}

#instagram-button {
    margin: 3% 0 0 42%;
}

/*Mosaïque*/

#mosaique {
    margin-top: 6%; 
    display: flex;
    justify-content: center;
}

.hexagon-white {
    width: 11%;
    height: 200px;
    background-image: url('images/hexagone/Hexagon-white.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexagon-black {
    width: 11%;
    height: 200px;
    background-image: url('images/hexagone/Hexagon-black.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hexagon-orange {
    width: 11%;
    height: 200px;
    background-image: url('images/hexagone/Hexagon-orange.png');
    background-repeat: no-repeat;
}

#hexagon-red {
    width: 11%;
    height: 200px;
    background-image: url('images/hexagone/Hexagon-red.png');
    background-repeat: no-repeat;
}

#mosaique a {
    color: #41a62b;
    font-weight: bold;
}

#coordonnees {
    color: white;
}